<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template/layout.html">
<body>
<div layout:fragment="content">
    <div class="container">
        Заказ
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span>Заказ</span>
                        <button class="btn btn-custom btn-sm" data-bs-toggle="modal" id="editPayment"
                                data-bs-target="#orderModal">
                            <i class="ti ti-edit"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr id="table-head">
                                <th class="text-center">ID</th>
                                <th class="text-center">Вид оплаты</th>
                                <th class="text-center">Сумма</th>
                                <th class="text-center">Статус</th>
                            </tr>
                            </thead>
                            <tbody id="orderTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span>Список заказанных продуктов</span>
                        <button class="btn btn-custom btn-sm" data-bs-toggle="modal" id="createOrderItem"
                                data-bs-target="#orderItemModal">
                            <i class="ti ti-plus"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">Продукт</th>
                                <th class="text-center">Количество товаров</th>
                                <th class="text-center"></th>
                            </tr>
                            </thead>
                            <tbody id="orderItemsTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span>Доставка</span>
                        <div>
                            <button class="btn btn-custom btn-sm" data-bs-toggle="modal" onclick="openModalDelivery()"
                                    id="editDelivery"
                                    data-bs-target="#deliveryModal">
                                <i class="ti ti-edit"></i>
                            </button>
                            <button class="btn btn-custom btn-sm" onclick="deleteDelivery()">
                                <i class="ti ti-trash"></i>
                            </button>
                        </div>

                    </div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Имя</td>
                            <td id="deliveryTableName">Алексей</td>
                        </tr>
                        <tr>
                            <td>Статус</td>
                            <td id="deliveryTableStatus">Заказ доставлен</td>
                        </tr>
                        <tr>
                            <td>Телефон</td>
                            <td id="deliveryTablePhone">+380-11-11-11</td>
                        </tr>
                        <tr>
                            <td>Улица</td>
                            <td id="deliveryTableStreet">Пушкинская</td>
                        </tr>
                        <tr>
                            <td>Здание</td>
                            <td id="deliveryTableBuilding">136</td>
                        </tr>
                        <tr>
                            <td>Квартира</td>
                            <td id="deliveryTableApartment">71</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Delivery Modal -->
        <div class="modal fade" id="deliveryModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deliveryModalLabel">Редактирование доставки</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row g-2">
                                <div class="col mb-0">
                                    <label for="nameDelivery" class="form-label">Имя клиента</label>
                                    <input
                                            type="text"
                                            id="nameDelivery"
                                            class="form-control"
                                            name="nameDelivery">
                                    <div id="nameDeliveryError" class="text-danger"></div>

                                </div>
                                <div class="col mb-0">
                                    <label for="phoneNumberDelivery" class="form-label">Номер телефона</label>
                                    <input
                                            type="text"
                                            id="phoneNumberDelivery"
                                            class="form-control"
                                            name="phoneNumberDelivery">
                                    <div id="phoneNumberDeliveryError" class="text-danger"></div>
                                </div>
                            </div>

                            <div class="row g-2">
                                <div class="col mb-0">
                                    <label for="cityDelivery" class="form-label">Город</label>
                                    <select
                                            type="text"
                                            id="cityDelivery"
                                            class="form-control"
                                            name="cityDelivery">
                                    </select>
                                    <div id="cityDeliveryError" class="text-danger"></div>
                                </div>
                                <div class="col mb-0">
                                    <label for="streetDelivery" class="form-label">Улица</label>
                                    <input
                                            type="text"
                                            id="streetDelivery"
                                            class="form-control"
                                            name="streetDelivery">
                                    <div id="streetDeliveryError" class="text-danger"></div>
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="col mb-0">
                                    <label for="buildingDelivery" class="form-label">Дом</label>
                                    <input
                                            type="text"
                                            id="buildingDelivery"
                                            class="form-control"
                                            name="buildingDelivery">
                                    <div id="buildingDeliveryError" class="text-danger"></div>
                                </div>
                                <div class="col mb-0">
                                    <label for="subDoorDelivery" class="form-label">Подьезд</label>
                                    <input
                                            type="text"
                                            id="subDoorDelivery"
                                            class="form-control"
                                            name="subDoorDelivery">
                                    <div id="subDoorDeliveryError" class="text-danger"></div>
                                </div>
                                <div class="col mb-0">
                                    <label for="apartmentDelivery" class="form-label">Квартира</label>
                                    <input
                                            type="text"
                                            id="apartmentDelivery"
                                            class="form-control"
                                            name="apartmentDelivery">
                                    <div id="apartmentDeliveryError" class="text-danger"></div>
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="col mb-0">
                                    <label for="dataDelivery" class="form-label">Дата доставки</label>
                                    <input
                                            type="date"
                                            id="dataDelivery"
                                            class="form-control"
                                            name="buildingDelivery">
                                    <div id="dataDeliveryError" class="text-danger"></div>
                                </div>
                                <div class="col mb-0">
                                    <label for="timeDelivery" class="form-label">Время доставки</label>
                                    <input
                                            type="time"
                                            id="timeDelivery"
                                            class="form-control"
                                            name="subDoorDelivery">
                                    <div id="timeDeliveryError" class="text-danger"></div>
                                </div>

                            </div>
                            <div class="row g-2">
                                <div class="col mb-0">
                                    <label for="changeAmount" class="form-label">Сумма сдачи</label>
                                    <input
                                            type="number"
                                            id="changeAmount"
                                            class="form-control"
                                            name="buildingDelivery">
                                    <div id="changeAmountError" class="text-danger"></div>
                                </div>
                                <div class="col mb-0">
                                    <label for="statusDelivery" class="form-label">Статус доставки</label>
                                    <select
                                            id="statusDelivery"
                                            class="form-control"
                                            name="subDoorDelivery">
                                    </select>
                                    <div id="statusDeliveryError" class="text-danger"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="save-delivery-btn"
                                data-bs-dismiss="modal"
                                aria-label="Close">Save changes</button>
                    </div>
                </div>
            </div>
        </div>


        <script th:inline="javascript">
            let order = [[${order}]];
            console.log("Сущность заказа:", order);
            let itemToDeleteIndex = null;

            $(document).ready(function () {
                initializeEventHandlers();
                loadOrderTable();
                loadCategories();
                loadTypePayment()
                loadStatusOrder()
                loadCitiesForDelivery()
                loadStatusDelivery()
            })

            $(document).ready(function () {
                $('#category, #product, #quantity').on('change input', function () {
                    validateField($(this));
                });

                function validateField(element) {
                    let isValid = true;
                    let errorElement = $('#' + element.attr('id') + 'Error');

                    if (element.val() === '' || element.val() === null) {
                        isValid = false;
                        errorElement.text('Это поле обязательно для заполнения.');
                        element.addClass('is-invalid');
                    } else if (element.attr('id') === 'quantity' && (parseInt(element.val()) <= 0)) {
                        isValid = false;
                        errorElement.text('Количество должно быть положительным числом.');
                        element.addClass('is-invalid');
                    } else {
                        errorElement.text('');
                        element.removeClass('is-invalid');
                        element.addClass('is-valid');
                    }

                    return isValid;
                }

                $('#save-entity-btn').on('click', function () {
                    let isFormValid = true;
                    $('#category, #product, #quantity').each(function () {
                        if (!validateField($(this))) {
                            isFormValid = false;
                        }
                    });
                    if (isFormValid) {
                        const itemId = $('#idOrderItem').val();
                        if (itemId) {
                            editOrderItem(itemId);
                        } else {
                            saveOrderItem();
                        }
                    }
                });
            });

            $('#orderItemModal').on('hidden.bs.modal', function () {
                resetFormValidation();
            });

            function resetFormValidation() {
                $('#entity-form').find('.is-invalid').removeClass('is-invalid');
                $('#entity-form').find('.is-valid').removeClass('is-valid');
                $('#entity-form').find('.text-danger').text('');
                $('#entity-form')[0].reset();
            }


            function initializeEventHandlers() {
                $('#category').on('change', function () {
                    setProduct($('#category'));
                });

                $('#product').on('change', function () {
                    setAttributeProduct($('#product'));
                });

                $('#save-payment-btn').on('click', function () {
                    savePayment();
                });
                $('#save-delivery-btn').on('click', function () {
                    saveDelivery();
                });

                $('#createOrderItem').on('click', function () {
                    cleanModalOrderItem();
                });

                $('#editPayment').on('click', function () {
                    openModalPayment();
                })
                $('#btn-save-order').on('click', function () {
                    sendOrderData();
                })

                $('#confirm-delete-btn').on('click', function () {
                    if (itemToDeleteIndex !== null) {
                        deleteOrderItem(itemToDeleteIndex);
                        $('#deleteConfirmModal').modal('hide');
                        $('.modal-backdrop').remove();
                    }
                });
            }

            function sendOrderData() {
                console.log("Сохранение данных о заказе");
                $.ajax({
                    url: '/order/' + order.id,
                    type: 'POST',
                    data: JSON.stringify(order),
                    contentType: 'application/json',
                    success: function (data) {
                        console.log(data);
                        window.history.back();
                    },
                    error: function (data) {
                        showToast('error', 'Ошибка', 'Произошла ошибка при сохранении данных о заказе, перезагрузите страницу и попробуйте ещё раз.');
                        console.log(data);
                    }
                })
            }

            function cleanModalOrderItem() {
                $('#idOrderItem').val('');
                $('#category').val('');
                $('#product').val('');
                $('#product').empty();
                $('#quantity').val('');
                $('#attributes').empty();
                resetFormValidation();
            }

            function loadOrderTable() {
                let response = order

                console.log("Сущность заказа:", response);
                $('#orderTableBody').empty();
                $('#orderTableBody').append(
                    `<tr>
                        <td class="text-center">${response.id}</td>
                        <td class="text-center">${response.payment}</td>
                        <td class="text-center">${response.totalAmount}</td>
                        <td class="text-center">${response.status}</td>
                    </tr>`
                );

                $('#orderItemsTableBody').empty();
                response.orderItemsDto.forEach(function (item, index) {
                    $('#orderItemsTableBody').append(
                        `<tr>
                            <td class="text-center">${item.productName}</td>
                            <td class="text-center">${item.quantity}</td>
                            <td class="d-flex justify-content-center">
                                <button class="btn btn-icon btn-primary" data-bs-toggle="modal" data-bs-target="#orderItemModal" onclick="openModalOrderItem(${index})"><i class="ti ti-pencil"></i></button>
                                <button class="btn btn-icon btn-danger" onclick="openDeleteConfirmModal(${index})"><i class="ti ti-trash"></i></button>
                            </td>
                        </tr>`
                    );

                });

                $('#deliveryTableName').empty();
                $('#deliveryTableStatus').empty();
                $('#deliveryTablePhone').empty();
                $('#deliveryTableStreet').empty();
                $('#deliveryTableBuilding').empty();
                $('#deliveryTableApartment').empty();

                $('#deliveryTableName').text(response.deliveryDto.name);
                $('#deliveryTableStatus').text(response.deliveryDto.status);
                $('#deliveryTablePhone').text(response.deliveryDto.phoneNumber);
                $('#deliveryTableStreet').text(response.deliveryDto.street);
                $('#deliveryTableBuilding').text(response.deliveryDto.building);
                $('#deliveryTableApartment').text(response.deliveryDto.apartment);
            }


            function saveOrderItem() {
                console.log("work saveOrderItem");
                let attributes = [];
                $('select[name="attributeProduct[]"]').each(function (index, element) {
                    attributes.push({
                        id: null,
                        orderItemId: null,
                        productAttributeId: parseInt($(this).val()),
                        attributeValueId: parseInt($('select[name="attributeValue[]"]').eq(index).val())
                    });
                });

                let data = {
                    id: null,
                    categoryId: parseInt($('#category').val()),
                    productId: parseInt($('#product').val()),
                    productName: $('#product option:selected').text(),
                    quantity: parseInt($('#quantity').val()),
                    attributes: attributes
                };

                order.orderItemsDto.push(data);
                $('#orderItemModal').modal('hide');
                $('.modal-backdrop').remove();
                recalculationAmount(loadOrderTable);
            }

            function editOrderItem(itemId) {
                order.orderItemsDto[itemId].categoryId = parseInt($('#category').val());
                order.orderItemsDto[itemId].productId = parseInt($('#product').val());
                console.log($('#quantity').val());
                console.log(order.orderItemsDto[itemId].quantity);
                order.orderItemsDto[itemId].quantity = $('#quantity').val();
                $('select[name="attributeProduct[]"]').each(function (index, element) {
                    if (!Array.isArray(order.orderItemsDto[itemId].attributes)) {
                        order.orderItemsDto[itemId].attributes = [];
                    }
                    if (typeof order.orderItemsDto[itemId].attributes[index] === 'undefined') {
                        order.orderItemsDto[itemId].attributes[index] = {};
                    }
                    order.orderItemsDto[itemId].attributes[index].productAttributeId = parseInt($('select[name="attributeProduct[]"]').eq(index).val());
                    order.orderItemsDto[itemId].attributes[index].attributeValueId = parseInt($('select[name="attributeValue[]"]').eq(index).val());
                });
                $('#orderItemModal').modal('hide');
                $('.modal-backdrop').remove();
                recalculationAmount(loadOrderTable);
            }

            function deleteOrderItem(index) {
                if (index >= 0 && index < order.orderItemsDto.length) {
                    console.log("Deleted order item with ID:", order.orderItemsDto[index].id);
                    order.orderItemsDto.splice(index, 1);
                    recalculationAmount(loadOrderTable);
                } else {
                    console.error("Index out of range");
                }
            }

            async function openModalOrderItem(itemId) {
                resetFormValidation();
                let response = order.orderItemsDto[itemId];

                console.log("Item:", response);
                if (response) {
                    $('#idOrderItem').val(itemId);
                    $('#category').val(response.categoryId);
                    await setProduct($('#category'));

                    $('#product').val(response.productId);
                    await setAttributeProduct($('#product'));

                    response.attributes.forEach((attribute, index) => {
                        $('select[name="attributeProduct[]"]').eq(index).val(attribute.productAttributeId).trigger('change');
                        console.log("Attribute:", attribute.productAttributeId);
                        $('select[name="attributeValue[]"]').eq(index).val(attribute.attributeValueId).trigger('change');
                        console.log("Value:", attribute.attributeValueId);
                    });

                    $('#quantity').val(response.quantity);
                    console.log("==============================================");
                } else {
                    console.error("Item not found for editing:", itemId);
                }
            }

            function setProduct(element) {
                return new Promise((resolve, reject) => {
                    let categoryId = element.val();
                    if (categoryId) {
                        $.ajax({
                            url: '/product/getByCategory/' + categoryId,
                            method: 'GET',
                            success: function (response) {
                                $('#product').empty().append('<option value="">Select Product</option>');
                                response.forEach(product => {
                                    $('#product').append(`<option value="${product.id}">${product.name}</option>`);
                                });
                                resolve();
                            },
                            error: function (err) {
                                console.log('Error loading products:', err);
                                reject(err);
                            }
                        });
                    } else {
                        $('#product').empty().append('<option value="">Select Product</option>');
                        resolve();
                    }
                });
            }

            function setAttributeProduct(element) {
                return new Promise((resolve, reject) => {
                    const productId = element.val();
                    if (productId) {
                        $.ajax({
                            url: '/attribute/getAttributesByProduct/' + productId,
                            method: 'GET',
                            success: function (response) {
                                $('#attributes').empty();
                                response.forEach(attribute => {
                                    const attributeContainer = $(`
                            <div class="row g-2">
                                <div class="col mb-0">
                                    <label class="form-label">Свойство</label>
                                    <select class="form-control" name="attributeProduct[]">
                                        <option value="${attribute.id}">${attribute.name}</option>
                                    </select>
                                    <div class="text-danger"></div>
                                </div>
                                <div class="col mb-0">
                                    <label for="attributeValue" class="form-label">Значение атрибута</label>
                                    <select class="form-control" name="attributeValue[]">
                                        ${attribute.attributeValues.map(value => `
                                            <option value="${value.id}">${value.name}</option>
                                        `).join('')}
                                    </select>
                                    <div class="text-danger"></div>
                                </div>
                            </div>
                        `);
                                    $('#attributes').append(attributeContainer);
                                });
                                resolve();
                            },
                            error: function (err) {
                                console.log('Error loading attributes:', err);
                                reject(err);
                            }
                        });
                    } else {
                        $('#attributes').empty();
                        resolve();
                    }
                });
            }


            function loadCategories() {
                $.ajax({
                    url: '/category/getAllForOrder',
                    method: 'GET',
                    success: function (response) {
                        $('#category').empty().append('<option value="">Select Category</option>');
                        response.forEach(category => {
                            $('#category').append(`<option value="${category.id}">${category.name}</option>`);
                        });
                    },
                    error: function (err) {
                        console.log('Error loading categories:', err);
                    }
                });
            }

            function recalculationAmount(callback) {
                let totalAmount = 0;
                $.ajax({
                    url: '/attributeValue/getAllForOrder',
                    method: 'GET',
                    success: function (response) {
                        order.orderItemsDto.forEach(item => {
                            item.attributes.forEach(attribute => {
                                let attributeValue = response.find(value => value.id == attribute.attributeValueId);
                                if (attributeValue.priceWithDiscount !== null && attributeValue.priceWithDiscount !== 0) {
                                    totalAmount = totalAmount + (attributeValue.priceWithDiscount * item.quantity);
                                    console.log("priceWithDiscount", totalAmount);
                                } else {
                                    totalAmount = totalAmount + (attributeValue.price * item.quantity);
                                    console.log("price", totalAmount);
                                }
                            });
                        });
                        order.totalAmount = totalAmount;
                        console.log("Total Amount:", order.totalAmount);

                        if (callback) callback();
                    },
                    error: function (err) {
                        console.log('Error loading order:', err);
                    }
                });
            }

            function openDeleteConfirmModal(index) {
                itemToDeleteIndex = index;
                $('#deleteConfirmModal').modal('show');
            }

            function loadStatusDelivery() {
                $.ajax({
                    url: '/order/getStatusDelivery',
                    method: 'GET',
                    success: function (response) {
                        response.forEach(status => {
                            $('#statusDelivery').append(`<option value="${status}">${status}</option>`)
                        })
                    },
                    error: function (err) {
                        console.log('Error loading order:', err);
                    }
                });
            }

            function openModalPayment() {
                $('#paymentType').val(order.payment)
                $('#orderStatus').val(order.status)
            }

            function savePayment() {
                order.payment = $('#paymentType').val();
                order.status = $('#orderStatus').val();
                $('#orderModal').modal('hide');
                $('.modal-backdrop').remove();
                loadOrderTable();
            }

            function loadCitiesForDelivery() {
                $.ajax({
                    url: '/order/getCities',
                    method: 'GET',
                    success: function (response) {
                        response.forEach(city => {
                            $('#cityDelivery').append(`<option value="${city.id}">${city.name}</option>`)
                        })
                    },
                    error: function (err) {
                        console.log('Error loading order:', err);
                    }
                });
            }

            function openModalDelivery() {
                let response = order.deliveryDto;
                $('#nameDelivery').val(response.name);
                $('#phoneNumberDelivery').val(response.phoneNumber);
                $('#cityDelivery').val(response.cityId);
                $('#streetDelivery').val(response.street);
                $('#buildingDelivery').val(response.building);
                $('#subDoorDelivery').val(response.subDoor);
                $('#apartmentDelivery').val(response.apartment);
                $('#dataDelivery').val(response.deliveryDate);
                $('#timeDelivery').val(response.deliveryTime);
                $('#changeAmount').val(response.changeAmount);
                $('#statusDelivery').val(response.status.toString());
            }

            function saveDelivery() {
                order.deliveryDto.name = $('#nameDelivery').val();
                order.deliveryDto.phoneNumber = $('#phoneNumberDelivery').val();
                order.deliveryDto.cityId = $('#cityDelivery').val();
                order.deliveryDto.street = $('#streetDelivery').val();
                order.deliveryDto.building = $('#buildingDelivery').val();
                order.deliveryDto.subDoor = $('#subDoorDelivery').val();
                order.deliveryDto.apartment = $('#apartmentDelivery').val();
                order.deliveryDto.deliveryDate = $('#dataDelivery').val();
                order.deliveryDto.deliveryTime = $('#timeDelivery').val();
                order.deliveryDto.changeAmount = $('#changeAmount').val();
                order.deliveryDto.status = $('#statusDelivery').val();

                // Закрытие модального окна с помощью Bootstrap
                var modal = bootstrap.Modal.getInstance(document.getElementById('deliveryModal'));
                if (modal) {
                    modal.hide(); // Закрываем модальное окно
                }

                loadOrderTable(); // Загружаем таблицу заказов
            }
            function deleteDelivery() {
                order.deliveryDto = null;
                $('#deliveryModal').modal('hide');
                $('.modal-backdrop').remove();
                loadOrderTable();
            }

            function loadTypePayment() {
                $.ajax({
                    url: '/order/typePayment',
                    method: 'GET',
                    success: function (response) {
                        $('#paymentType').empty();
                        $('#paymentType').append(response.map(type => `<option value="${type}">${type}</option>`).join(''));
                    },
                    error: function (err) {
                        console.log('Error loading order:', err);
                    }
                });
            }

            function loadStatusOrder() {
                $.ajax({
                    url: '/order/status',
                    method: 'GET',
                    success: function (response) {
                        $('#orderStatus').empty();
                        $('#orderStatus').append(response.map(status => `<option value="${status}">${status}</option>`).join(''));
                    },
                    error: function (err) {
                        console.log('Error loading order:', err);
                    }
                });
            }
        </script>

        <!-- Delete Confirmation Modal -->
        <div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteConfirmModalLabel">Подтвердите удаление</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Вы уверены, что хотите удалить этот элемент?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-danger" id="confirm-delete-btn">Удалить</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Модальное окно для создания и редактирования элементов заказа -->
        <div class="modal fade" id="orderItemModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="entityModalLabel">Редактирование</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="entity-modal-body">
                        <form id="entity-form">
                            <div class="row g-2">
                                <input type="hidden" id="idOrderItem">
                                <div class="col mb-0">
                                    <label for="category" class="form-label">Категория</label>
                                    <select
                                            type="text"
                                            id="category"
                                            class="form-control"
                                            name="category">
                                    </select>
                                    <div id="categoryError" class="text-danger"></div>

                                </div>
                                <div class="col mb-0">
                                    <label for="product" class="form-label">Продукт</label>
                                    <select
                                            type="text"
                                            id="product"
                                            class="form-control"
                                            name="product">
                                    </select>
                                    <div id="productError" class="text-danger"></div>
                                </div>
                            </div>
                            <div id="attributes">

                            </div>

                            <div class="row">
                                <div class="col mb-3">
                                    <label for="quantity" class="form-label">Количество</label>
                                    <input
                                            type="number"
                                            id="quantity"
                                            class="form-control"
                                            min="1"
                                            max="50"
                                            name="quantity"
                                            placeholder="Количество"
                                    />
                                    <div id="quantityError" class="text-danger"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="save-entity-btn">Save changes</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="orderModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="paymentModalLabel">Редактирование</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="payment-modal-body">
                        <form id="payment-form">
                            <div class="row g-2">
                                <div class="col mb-0">
                                    <label for="paymentType" class="form-label">Вид оплаты</label>
                                    <select
                                            type="text"
                                            id="paymentType"
                                            class="form-control"
                                            name="paymentType">
                                    </select>
                                    <div id="paymentTypeError" class="text-danger"></div>
                                </div>
                                <div class="col mb-0">
                                    <label for="orderStatus" class="form-label">Статус заказа</label>
                                    <select
                                            type="text"
                                            id="orderStatus"
                                            class="form-control"
                                            name="orderStatus">
                                    </select>
                                    <div id="orderStatusError" class="text-danger"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="save-payment-btn">Save changes</button>
                    </div>
                </div>
            </div>
        </div>


        <hr class="line">
        <div class="card-footer d-flex justify-content-between">
            <a href="/product" class="btn btn-primary">Назад</a>
            <button class="btn btn-success" id="btn-save-order">Сохранить</button>
        </div>
    </div>
</div>
</body>
</html>