<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template/layout.html">
<body>
<div layout:fragment="content">
    <div class="container">
        Заказ
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span>Заказ</span>
                        <button class="btn btn-custom btn-sm" data-bs-toggle="modal" id="editPayment"
                                data-bs-target="#orderModal">
                            <i class="ti ti-edit"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr id="table-head">
                                <th class="text-center">ID</th>
                                <th class="text-center">Вид оплаты</th>
                                <th class="text-center">Сумма</th>
                                <th class="text-center">Время оплаты</th>
                                <th class="text-center">Статус</th>
                            </tr>
                            </thead>
                            <tbody id="orderTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span>Список заказанных продуктов</span>
                        <button class="btn btn-custom btn-sm" data-bs-toggle="modal" id="createOrderItem"
                                data-bs-target="#orderItemModal">
                            <i class="ti ti-plus"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">№</th>
                                <th class="text-center">Продукт</th>
                                <th class="text-center">Количество товаров</th>
                                <th class="text-center"></th>
                            </tr>
                            </thead>
                            <tbody id="orderItemsTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span>Доставка</span>
                        <button class="btn btn-custom btn-sm" data-bs-toggle="modal" onclick="openModalDelivery()" id="editDelivery"
                                data-bs-target="#deliveryModal">
                            <i class="ti ti-edit"></i>
                        </button>
                    </div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Имя</td>
                            <td id="deliveryTableName">Алексей</td>
                        </tr>
                        <tr>
                            <td>Статус</td>
                            <td id="deliveryTableStatus">Заказ доставлен</td>
                        </tr>
                        <tr>
                            <td>Телефон</td>
                            <td id="deliveryTablePhone">+380-11-11-11</td>
                        </tr>
                        <tr>
                            <td>Улица</td>
                            <td id="deliveryTableStreet">Пушкинская</td>
                        </tr>
                        <tr>
                            <td>Здание</td>
                            <td id="deliveryTableBuilding">136</td>
                        </tr>
                        <tr>
                            <td>Квартира</td>
                            <td id="deliveryTableApartment">71</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                // Загружаем элементы заказа при загрузке страницы
                loadOrderTable();
            })
            function loadOrderTable() {
                $.ajax({
                    url: '/order/fromSession',
                    method: 'GET',
                    success: function (response) {
                        console.log(response)

                        $('#orderTableBody').empty();
                            $('#orderTableBody').append(
                                `<tr>
                        <td class="text-center">${response.id}</td>
                        <td class="text-center">${response.payment}</td>
                        <td class="text-center">${response.totalAmount}</td>
                        <td class="text-center"></td>
                        <td class="text-center">${response.status}</td>
                    </tr>`
                            );

                        $('#orderItemsTableBody').empty();
                        response.orderItemsDto.forEach(function (item) {
                            $('#orderItemsTableBody').append(
                                `<tr>
                        <td class="text-center">${item.id}</td>
                        <td class="text-center">${item.productName}</td>
                        <td class="text-center">${item.quantity}</td>
                        <td class="d-flex justify-content-center">
                            <button class="btn btn-icon btn-primary" data-bs-toggle="modal" data-bs-target="#orderItemModal" onclick="openModalOrderItem(${item.id})"><i class="ti ti-pencil"></i></button>
                            <button class="btn btn-icon btn-danger" onclick="deleteOrderItem(${item.id})"><i class="ti ti-trash"></i></button>
                        </td>
                    </tr>`
                            );
                        });

                        $('#deliveryTableName').empty();
                        $('#deliveryTableStatus').empty();
                        $('#deliveryTablePhone').empty();
                        $('#deliveryTableStreet').empty();
                        $('#deliveryTableBuilding').empty();
                        $('#deliveryTableApartment').empty();

                        $('#deliveryTableName').text(response.deliveryDto.name);
                        $('#deliveryTableStatus').text(response.deliveryDto.status);
                        $('#deliveryTablePhone').text(response.deliveryDto.phoneNumber);
                        $('#deliveryTableStreet').text(response.deliveryDto.street);
                        $('#deliveryTableBuilding').text(response.deliveryDto.building);
                        $('#deliveryTableApartment').text(response.deliveryDto.apartment);
                    },
                    error: function (err) {
                        console.log('Error loading order items:', err);
                    }
                });
            }
        </script>

        <!-- Модальное окно для создания и редактирования элементов заказа -->
        <div class="modal fade" id="orderItemModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="entityModalLabel">Редактирование</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="entity-modal-body">
                        <form id="entity-form">
                            <div class="row g-2">
                                <input type="hidden" id="idOrderItem">
                                <div class="col mb-0">
                                    <label for="category" class="form-label">Категория</label>
                                    <select
                                            type="text"
                                            id="category"
                                            class="form-control"
                                            name="category">
                                    </select>
                                    <div id="categoryError" class="text-danger"></div>

                                </div>
                                <div class="col mb-0">
                                    <label for="product" class="form-label">Продукт</label>
                                    <select
                                            type="text"
                                            id="product"
                                            class="form-control"
                                            name="product">
                                    </select>
                                    <div id="productError" class="text-danger"></div>
                                </div>
                            </div>
                            <div id="attributes">

                            </div>

                            <div class="row">
                                <div class="col mb-3">
                                    <label for="quantity" class="form-label">Количество</label>
                                    <input
                                            type="number"
                                            id="quantity"
                                            class="form-control"
                                            min="1"
                                            max="50"
                                            name="quantity"
                                            placeholder="Количество"
                                    />
                                    <div id="quantityError" class="text-danger"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="save-entity-btn">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {

                // Загружаем категории при загрузке страницы
                loadCategories();

            });

            $(document).ready(function () {
                // Загрузка категорий при изменении модального окна
                $('#category').on('change', function () {
                    setProduct($('#category'));
                });
                $('#product').on('change', function () {
                    setAttributeProduct($('#product'));
                });
                // Сохранение нового элемента заказа
                $('#save-entity-btn').on('click', function () {
                    const itemId = $('#idOrderItem').val();
                    if (itemId) {
                        editOrderItem(itemId); // Если есть ID, то редактируем
                    } else {
                        saveOrderItem(); // Если нет ID, то создаем новый элемент
                    }
                });
            });

            <!-- Для работы с элементами заказа -->
            // Функции для создания элемента заказа
            function saveOrderItem() {
                let attributes = [];
                $('select[name="attributeProduct[]"]').each(function (index, element) {
                    attributes.push({
                        id: null,
                        orderItemId: null,
                        productAttributeId: $(this).val(),
                        attributeValueId: $('select[name="attributeValue[]"]').eq(index).val()
                    });
                });

                let data = {
                    categoryId: $('#category').val(),
                    productId: $('#product').val(),
                    quantity: $('#quantity').val(),
                    attributes: attributes
                };

                $.ajax({
                    url: '/order/item/create',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        $('#orderItemModal').modal('hide');
                        loadOrderTable();
                        $('.modal-backdrop').remove();
                        loadOrderTable();
                    },
                    error: function (err) {
                        console.log('Error saving order item:', err);
                    }
                });
            }

            // Функции для изменения элемента заказа
            function editOrderItem(itemId) {
                console.log('Отправка началась' + itemId)
                let attributes = [];
                $('select[name="attributeProduct[]"]').each(function (index, element) {
                    attributes.push({
                        id: null,
                        orderItemId: itemId,
                        productAttributeId: $('select[name="attributeProduct[]"]').eq(index).val(),
                        attributeValueId: $('select[name="attributeValue[]"]').eq(index).val()
                    });
                });

                let data = {
                    id: itemId,
                    categoryId: $('#category').val(),
                    productId: $('#product').val(),
                    quantity: $('#quantity').val(),
                    attributes: attributes
                };

                $.ajax({
                    url: '/order/item/' + itemId,
                    method: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        $('#orderItemModal').modal('hide');
                        loadOrderTable();
                        $('.modal-backdrop').remove();
                        loadOrderTable();
                    },
                    error: function (err) {
                        console.log('Error editing order item:', err);
                    }
                });
            }

            function loadCategories() {
                $.ajax({
                    url: '/category/getAllForOrder',
                    method: 'GET',
                    success: function (response) {
                        $('#category').empty().append('<option value="">Select Category</option>');
                        response.forEach(category => {
                            $('#category').append(`<option value="${category.id}">${category.name}</option>`);
                        });
                    },
                    error: function (err) {
                        console.log('Error loading categories:', err);
                    }
                });
            }

            // Загрузка списка продуктов в select на основе выбранной категории
            function setProduct(element, callback) {
                const categoryId = element.val();
                if (categoryId) {
                    $.ajax({
                        url: '/product/getByCategory/' + categoryId,
                        method: 'GET',
                        success: function (response) {
                            $('#product').empty().append('<option value="">Select Product</option>');
                            response.forEach(product => {
                                $('#product').append(`<option value="${product.id}">${product.name}</option>`);
                            });
                            if (callback) callback();
                        },
                        error: function (err) {
                            console.log('Error loading products:', err);
                        }
                    });
                } else {
                    $('#product').empty().append('<option value="">Select Product</option>');
                }
            }

            // Загрузка атрибута и списка его значений на основе выбранного продукта
            function setAttributeProduct(element, callback) {
                const productId = element.val();
                if (productId) {
                    $.ajax({
                        url: '/attribute/getAttributesByProduct/' + productId,
                        method: 'GET',
                        success: function (response) {
                            $('#attributes').empty();
                            response.forEach(attribute => {
                                const attributeContainer = $(`
                        <div class="row g-2">
                            <div class="col mb-0">
                                <label class="form-label">Свойство</label>
                                <select class="form-control" name="attributeProduct[]">
                                    <option value="${attribute.id}">${attribute.name}</option>
                                </select>
                                <div class="text-danger"></div>
                            </div>
                            <div class="col mb-0">
                                <label for="attributeValue" class="form-label">Значение атрибута</label>
                                <select class="form-control" name="attributeValue[]">
                                    ${attribute.attributeValues.map(value => `
                                        <option value="${value.id}">${value.name}</option>
                                    `).join('')}
                                </select>
                                <div class="text-danger"></div>
                            </div>
                        </div>
                    `);
                                $('#attributes').append(attributeContainer);
                            });
                            if (callback) callback();
                        },
                        error: function (err) {
                            console.log('Error loading attributes:', err);
                        }
                    });
                } else {
                    $('#attributes').empty();
                }
            }

            // Удаление элемента заказа
            function deleteOrderItem(itemId) {
                $.ajax({
                    url: '/order/item/' + itemId,
                    method: 'DELETE',
                    success: function () {
                        loadOrderTable();
                    },
                    error: function (err) {
                        console.log('Error deleting order item:', err);
                    }
                });
            }

            // Загрузка данных элемента заказа в модальное окно
            function openModalOrderItem(itemId) {
                $.ajax({
                    url: '/order/item/' + itemId,
                    method: 'GET',
                    success: function (response) {
                        $('#idOrderItem').val(response.id);
                        $('#category').val(response.categoryId).trigger('change');

                        setTimeout(function () {
                            setProduct($('#category'), function () {
                                $('#product').val(response.productId).trigger('change');
                                $('#quantity').val(response.quantity);

                                setTimeout(function () {
                                    setAttributeProduct($('#product'), function () {
                                        response.attributes.forEach((attribute, index) => {
                                            const attributeProductSelect = $('select[name="attributeProduct[]"]').eq(index);
                                            const attributeValueSelect = $('select[name="attributeValue[]"]').eq(index);

                                            setTimeout(function () {
                                                attributeProductSelect.val(attribute.id).trigger('change');
                                            }, 500);

                                            setTimeout(function () {
                                                attributeValueSelect.val(attribute.attributeValueId).trigger('change');
                                            }, 1000);
                                        });
                                    });
                                }, 500);
                            });
                        }, 500);
                    },
                    error: function (err) {
                        console.log('Error loading order item:', err);
                    }
                });
            }
            <!-- Для работы с элементами заказа -->
        </script>

        <div class="modal fade" id="orderModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="paymentModalLabel">Редактирование</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="payment-modal-body">
                        <form id="payment-form">
                            <div class="row g-2">
                                <div class="col mb-0">
                                    <label for="paymentType" class="form-label">Вид оплаты</label>
                                    <select
                                            type="text"
                                            id="paymentType"
                                            class="form-control"
                                            name="paymentType">
                                    </select>
                                    <div id="paymentTypeError" class="text-danger"></div>
                                </div>
                                <div class="col mb-0">
                                    <label for="orderStatus" class="form-label">Статус заказа</label>
                                    <select
                                            type="text"
                                            id="orderStatus"
                                            class="form-control"
                                            name="orderStatus">
                                    </select>
                                    <div id="orderStatusError" class="text-danger"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="save-payment-btn">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                loadTypePayment()
                loadStatusOrder()
            })

            function loadTypePayment() {
                $.ajax({
                    url: '/order/typePayment',
                    method: 'GET',
                    success: function (response) {
                        console.log(response);
                        $('#paymentType').empty();
                        $('#paymentType').append(response.map(type => `<option value="${type}">${type}</option>`).join(''));
                    },
                    error: function (err) {
                        console.log('Error loading order:', err);
                    }
                });
            }

            function loadStatusOrder() {
                $.ajax({
                    url: '/order/status',
                    method: 'GET',
                    success: function (response) {
                        console.log(response);
                        $('#orderStatus').empty();
                        $('#orderStatus').append(response.map(status => `<option value="${status}">${status}</option>`).join(''));
                    },
                    error: function (err) {
                        console.log('Error loading order:', err);
                    }
                });
            }

            function openModalPayment() {
                $.ajax({
                    url: '/order/payment',
                    method: 'GET',
                    success: function (response) {

                    },
                    error: function (err) {
                        console.log('Error loading order:', err);
                    }
                });
            }

            function savePayment() {
                $.ajax({
                    url: '/order/payment',
                    method: 'PUT',
                    success: function (response) {

                    },
                    error: function (err) {
                        console.log('Error loading order:', err);
                    }
                });
            }
        </script>
        <!-- Delivery Modal -->
        <div class="modal fade" id="deliveryModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deliveryModalLabel">Редактирование доставки</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" >
                        <form>
                            <div class="row g-2">
                                <div class="col mb-0">
                                    <label for="nameDelivery" class="form-label">Имя клиента</label>
                                    <input
                                            type="text"
                                            id="nameDelivery"
                                            class="form-control"
                                            name="nameDelivery">
                                    <div id="nameDeliveryError" class="text-danger"></div>

                                </div>
                                <div class="col mb-0">
                                    <label for="phoneNumberDelivery" class="form-label">Номер телефона</label>
                                    <input
                                            type="text"
                                            id="phoneNumberDelivery"
                                            class="form-control"
                                            name="phoneNumberDelivery">
                                    <div id="phoneNumberDeliveryError" class="text-danger"></div>
                                </div>
                            </div>

                            <div class="row g-2">
                                <div class="col mb-0">
                                    <label for="cityDelivery" class="form-label">Город</label>
                                    <select
                                            type="text"
                                            id="cityDelivery"
                                            class="form-control"
                                            name="cityDelivery">
                                    </select>
                                    <div id="cityDeliveryError" class="text-danger"></div>
                                </div>
                                <div class="col mb-0">
                                    <label for="streetDelivery" class="form-label">Улица</label>
                                    <input
                                            type="text"
                                            id="streetDelivery"
                                            class="form-control"
                                            name="streetDelivery">
                                    <div id="streetDeliveryError" class="text-danger"></div>
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="col mb-0">
                                    <label for="buildingDelivery" class="form-label">Дом</label>
                                    <input
                                            type="text"
                                            id="buildingDelivery"
                                            class="form-control"
                                            name="buildingDelivery">
                                    <div id="buildingDeliveryError" class="text-danger"></div>
                                </div>
                                <div class="col mb-0">
                                    <label for="subDoorDelivery" class="form-label">Подьезд</label>
                                    <input
                                            type="text"
                                            id="subDoorDelivery"
                                            class="form-control"
                                            name="subDoorDelivery">
                                    <div id="subDoorDeliveryError" class="text-danger"></div>
                                </div>
                                <div class="col mb-0">
                                    <label for="apartmentDelivery" class="form-label">Квартира</label>
                                    <input
                                            type="text"
                                            id="apartmentDelivery"
                                            class="form-control"
                                            name="apartmentDelivery">
                                    <div id="apartmentDeliveryError" class="text-danger"></div>
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="col mb-0">
                                    <label for="dataDelivery" class="form-label">Дата доставки</label>
                                    <input
                                            type="date"
                                            id="dataDelivery"
                                            class="form-control"
                                            name="buildingDelivery">
                                    <div id="dataDeliveryError" class="text-danger"></div>
                                </div>
                                <div class="col mb-0">
                                    <label for="timeDelivery" class="form-label">Время доставки</label>
                                    <input
                                            type="time"
                                            id="timeDelivery"
                                            class="form-control"
                                            name="subDoorDelivery">
                                    <div id="timeDeliveryError" class="text-danger"></div>
                                </div>

                            </div>
                            <div class="row g-2">
                                <div class="col mb-0">
                                    <label for="changeAmount" class="form-label">Сумма сдачи</label>
                                    <input
                                            type="number"
                                            id="changeAmount"
                                            class="form-control"
                                            name="buildingDelivery">
                                    <div id="changeAmountError" class="text-danger"></div>
                                </div>
                                <div class="col mb-0">
                                    <label for="statusDelivery" class="form-label">Статус доставки</label>
                                    <select
                                            id="statusDelivery"
                                            class="form-control"
                                            name="subDoorDelivery">
                                    </select>
                                    <div id="statusDeliveryError" class="text-danger"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="save-delivery-btn">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                loadCitiesFotDelivery()
                loadStatusDelivery()
            })

            function loadStatusDelivery() {
                $.ajax({
                    url: '/order/getStatusDelivery',
                    method: 'GET',
                    success: function (response) {
                        console.log(response);
                        response.forEach(status => {
                            $('#statusDelivery').append(`<option value="${status}">${status}</option>`)
                        })
                    },
                    error: function (err) {
                        console.log('Error loading order:', err);
                    }
                });
            }

            function loadCitiesFotDelivery() {
                $.ajax({
                    url: '/order/getCities',
                    method: 'GET',
                    success: function (response) {
                        console.log(response);
                        response.forEach(city => {
                            $('#cityDelivery').append(`<option value="${city.id}">${city.name}</option>`)
                        })
                    },
                    error: function (err) {
                        console.log('Error loading order:', err);
                    }
                });
            }

            function openModalDelivery() {
                $.ajax({
                    url: '/order/delivery',
                    method: 'GET',
                    success: function (response) {
                        console.log(response);
                        $('#nameDelivery').val(response.name);
                        $('#phoneNumberDelivery').val(response.phoneNumber);
                        $('#cityDelivery').val(response.cityId); // Предполагается, что у вас есть поле cityId
                        $('#streetDelivery').val(response.street);
                        $('#buildingDelivery').val(response.building);
                        $('#subDoorDelivery').val(response.subDoor);
                        $('#apartmentDelivery').val(response.apartment);
                        $('#dataDelivery').val(response.deliveryDate);
                        $('#timeDelivery').val(response.deliveryTime);
                        $('#changeAmount').val(response.changeAmount);
                        $('#statusDelivery').val(response.status.toString());
                    },
                    error: function (err) {
                        console.log('Error loading order:', err);
                    }
                });
            }

            function saveDelivery() {
                $.ajax({
                    url: '/order/delivery',
                    method: 'POST',
                    success: function (response) {

                    },
                    error: function (err) {
                        console.log('Error loading order:', err);
                    }
                });
            }

            function deleteDelivery() {
                $.ajax({
                    url: '/order/delivery',
                    method: 'DELETE',
                    success: function (response) {

                    },
                    error: function (err) {
                        console.log('Error loading order:', err);
                    }
                });
            }
        </script>
        <hr class="line">
        <div class="card-footer d-flex justify-content-between">
            <a href="/product" class="btn btn-primary">Назад</a>
            <button type="submit" class="btn btn-success" id="btn-save">Сохранить</button>
        </div>
    </div>
</div>
</body>
</html>