<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template/layout.html">
<body>
<div layout:fragment="content">
    <!-- Responsive Table -->
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h4 class="fw-bold pt-3">Пользователи</h4>
    </div>
    <div class="card">
        <div class="card-header py-2 d-flex align-items-center">
            <div class="d-flex justify-content-end flex-grow-1 m-lg-2">
                <div class="search-input-wrapper col-md-4">
                    <label class="d-flex align-items-center gap-2 w-100">
                        Search:
                        <input type="text" id="search" class="form-control" placeholder="Search...">
                    </label>
                </div>
            </div>
            <div class="d-flex ms-auto">
                <button class="btn btn-primary" data-bs-toggle="modal" id="createEntity" data-bs-target="#entityModal">
                    <i class="ti ti-plus"></i>
                </button>
            </div>
        </div>

        <div class="card-body">
            <div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr id="table-head">
                            <td class="text-center">ID</td>
                            <td class="text-center">Имя</td>
                            <td class="text-center">Почта</td>
                            <td class="text-center">Права</td>
                            <td class="text-center">Actions</td>
                        </tr>
                        </thead>
                        <tbody id="table-body"></tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card-footer d-flex justify-content-between align-items-center pb-0">
            <label class="d-flex align-items-center gap-1" style="transform: translateY(-8px);">
                Показать:
                <select id="pageSize" class="form-control">
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </label>
            <nav aria-label="Page navigation">
                <ul class="pagination" id="pagination">
                </ul>
            </nav>
        </div>

        <div class="modal fade" id="entityModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="entityModalLabel">Редактирование</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="entity-modal-body">
                        <form id="entity-form">
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="nameWithTitle" class="form-label">Name</label>
                                    <input
                                            type="text"
                                            id="nameWithTitle"
                                            class="form-control"
                                            placeholder="Enter Name"
                                    />
                                    <div id="nameError" class="text-danger"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input
                                            type="email"
                                            id="email"
                                            class="form-control"
                                            placeholder="Enter Email"
                                    />
                                    <div id="emailError" class="text-danger"></div>
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="col mb-0">
                                    <label for="password" class="form-label">Пароль</label>
                                    <input
                                            type="password"
                                            id="password"
                                            class="form-control"
                                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                    />
                                    <div id="passwordError" class="text-danger"></div>
                                </div>
                                <div class="col mb-0">
                                    <label for="passwordRepeat" class="form-label">Повторите пароль</label>
                                    <input
                                            type="password"
                                            id="passwordRepeat"
                                            class="form-control"
                                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                    />
                                    <div id="passwordRepeatError" class="text-danger"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="role" class="form-label">Роль</label>
                                    <select id="role"
                                            class="form-select form-select"
                                            data-allow-clear="true"
                                            name="role">
                                    </select>
                                    <div id="roleError" class="text-danger"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="save-entity-btn">Save changes</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteConfirmModalLabel">Confirm Deletion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Вы уверены, что хотите удалить этот элемент?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" id="confirm-delete-btn">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:replace="user/scripts::scripts"></script>
    <script>
        $(document).ready(function () {
            let pageSize = parseInt($('#pageSize').val());
            let currentPage = 0;
            loadEntities(currentPage, '', pageSize);
            initializeEventHandlers();

            function initializeEventHandlers() {
                $('#search').on('keyup', function () {
                    const search = $(this).val();
                    loadEntities(currentPage, search, pageSize);
                });

                $('#pageSize').on('change', function () {
                    pageSize = parseInt($(this).val());
                    loadEntities(currentPage, '', pageSize);
                });

                $(document).on('click', '.page-link', handlePageLinkClick);
                $(document).on('click', '.edit-entity-btn', handleEditEntityClick);
                $(document).on('click', '#save-entity-btn', handleSaveEntityClick);
                $(document).on('click', '.delete-entity-btn', handleDeleteEntityClick);
                $(document).on('click', '#confirm-delete-btn', handleConfirmDeleteClick);
            }

            function handlePageLinkClick(e) {
                e.preventDefault();
                currentPage = parseInt($(this).data('page'));
                loadEntities(currentPage, $('#search').val(), pageSize);
            }

            function handleEditEntityClick() {
                const id = $(this).data('id');
                $.ajax({
                    url: `${id}`,
                    method: 'GET',
                    success: function (entity) {
                        populateEntityForm(entity);
                    },
                    error: function (err) {
                        console.error('Error fetching entity:', err);
                    }
                });
            }

            function handleSaveEntityClick() {
                const id = $(this).data('id');
                if ($('#password').val() !== $('#passwordRepeat').val()) {
                    showPasswordError();
                    return;
                }
                const userDto = {
                    id: id,
                    name: $('#nameWithTitle').val(),
                    email: $('#email').val(),
                    password: $('#password').val(),
                    role: $('#role').val()
                };
                if (id) {
                    updateUser(userDto);
                } else {
                    createUser(userDto);
                }
            }

            function handleDeleteEntityClick() {
                const id = $(this).data('id');
                $('#confirm-delete-btn').data('id', id);
            }

            function handleConfirmDeleteClick() {
                const id = $(this).data('id');
                deleteUser(id);
            }

            function loadEntities(page = 0, search = '', pageSize = 5) {
                $.ajax({
                    url: `getAll?page=${page}&search=${search}&size=${pageSize}`,
                    method: 'GET',
                    success: function (data) {
                        populateTable(data.content);
                        setupPagination(data.totalPages, page);
                    },
                    error: function (err) {
                        console.error('Error loading entities:', err);
                    }
                });
            }

            function populateEntityForm(entity) {
                $('#nameWithTitle').val(entity.name);
                $('#email').val(entity.email);
                $('#password').val('');
                $('#passwordRepeat').val('');
                $('#role').val(entity.role);
                $('#save-entity-btn').data('id', entity.id);
                clearFormErrors();
            }

            function showPasswordError() {
                $('#passwordError').text('Пароли не совпадают');
                $('#passwordRepeatError').text('Пароли не совпадают');
            }

            function updateUser(userDto) {
                $.ajax({
                    url: `${userDto.id}`,
                    method: 'PUT',
                    contentType: 'application/json; charset=UTF-8',
                    data: JSON.stringify(userDto),
                    success: function () {
                        closeModal();
                        loadEntities(currentPage, $('#search').val(), $('#pageSize').val());
                        resetForm();
                        showToast('success', 'Успех', 'Профиль пользователя успешно сохранен');
                    },
                    error: function (err) {
                        console.error('Error updating entity:', err);
                        validateFormErrors(err);
                    }
                });
            }

            function createUser(userDto) {
                $.ajax({
                    url: 'create',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(userDto),
                    success: function () {
                        closeModal();
                        loadEntities(currentPage, $('#search').val(), $('#pageSize').val());
                        resetForm();
                        showToast('success', 'Успех', 'Пользователь успешно создан');
                    },
                    error: function (err) {
                        console.error('Error creating entity:', err);
                        validateFormErrors(err);
                    }
                });
            }

            function deleteUser(id) {
                $.ajax({
                    url: `${id}`,
                    method: 'DELETE',
                    success: function () {
                        $('#deleteConfirmModal').modal('hide');
                        loadEntities(currentPage, $('#search').val(), $('#pageSize').val());
                        removeModalBackdrop();
                        showToast('success', 'Успех', 'Пользователь успешно удален');
                    },
                    error: function (err) {
                        console.error('Error deleting entity:', err);
                        showToast('error', 'Ошибка', 'Произошла ошибка при удалении пользователя');
                    }
                });
            }

            function populateTable(entities) {
                const rows = entities.map(entity => `
                <tr>
                    <td class="text-center">${entity.id}</td>
                    <td class="text-center">${entity.name}</td>
                    <td class="text-center">${entity.email}</td>
                    <td class="text-center">${entity.role}</td>
                    <td class="d-flex justify-content-center">
                        <button class="btn btn-sm btn-primary edit-entity-btn" data-id="${entity.id}" data-bs-toggle="modal" data-bs-target="#entityModal"><i class="ti ti-pencil"></i></button>
                        <button class="btn btn-sm btn-danger delete-entity-btn" data-id="${entity.id}" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal"><i class="ti ti-trash"></i></button>
                    </td>
                </tr>
            `).join('');
                $('#table-body').html(rows);
            }

            function validateFormErrors(error) {
                const errorData = error.responseJSON;
                for (const field in errorData) {
                    const errorMessage = errorData[field];
                    $(`#${field}Error`).text(errorMessage);
                }
            }

            function clearFormErrors() {
                $('.text-danger').html('');
            }

            function closeModal() {
                $('#entityModal').modal('hide');
                $('#entityModal').removeClass('show');
                removeModalBackdrop();
            }

            function resetForm() {
                $('#entity-form')[0].reset();
                $('#save-entity-btn').data('id', '');
                clearFormErrors();
            }

            function removeModalBackdrop() {
                $('.modal-backdrop').remove();
            }

            function setupPagination(totalPages, currentPage) {
                let paginationItems = '';

                if (currentPage > 0) {
                    paginationItems += createPaginationItem(0, '<i class="ti ti-chevrons-left ti-xs"></i>', 'first');
                } else {
                    paginationItems += createDisabledPaginationItem('<i class="ti ti-chevrons-left ti-xs"></i>', 'first');
                }

                if (currentPage > 0) {
                    paginationItems += createPaginationItem(currentPage - 1, '<i class="ti ti-chevron-left ti-xs"></i>', 'prev');
                } else {
                    paginationItems += createDisabledPaginationItem('<i class="ti ti-chevron-left ti-xs"></i>', 'prev');
                }

                if (currentPage > 1) {
                    paginationItems += createPaginationItem(0, '1');
                    if (currentPage > 2) {
                        paginationItems += createDisabledPaginationItem('...');
                    }
                }

                for (let i = Math.max(0, currentPage - 1); i <= Math.min(totalPages - 1, currentPage + 1); i++) {
                    paginationItems += createPaginationItem(i, i + 1, '', i === currentPage);
                }

                if (currentPage < totalPages - 2) {
                    if (currentPage < totalPages - 3) {
                        paginationItems += createDisabledPaginationItem('...');
                    }
                    paginationItems += createPaginationItem(totalPages - 1, totalPages);
                }

                if (currentPage < totalPages - 1) {
                    paginationItems += createPaginationItem(currentPage + 1, '<i class="ti ti-chevron-right ti-xs"></i>', 'next');
                } else {
                    paginationItems += createDisabledPaginationItem('<i class="ti ti-chevron-right ti-xs"></i>', 'next');
                }

                if (currentPage < totalPages - 1) {
                    paginationItems += createPaginationItem(totalPages - 1, '<i class="ti ti-chevrons-right ti-xs"></i>', 'last');
                } else {
                    paginationItems += createDisabledPaginationItem('<i class="ti ti-chevrons-right ti-xs"></i>', 'last');
                }

                $('#pagination').html(paginationItems);
            }

            function createPaginationItem(page, text, className = '', isActive = false) {
                return `<li class="page-item ${className} ${isActive ? 'active' : ''}"><a class="page-link" href="#" data-page="${page}">${text}</a></li>`;
            }

            function createDisabledPaginationItem(text, className = '') {
                return `<li class="page-item disabled ${className}"><a class="page-link">${text}</a></li>`;
            }

            getRoles();

            function getRoles() {
                $.ajax({
                    url: 'roles',
                    method: 'GET',
                    success: function (response) {
                        response.forEach(role => {
                            $('#role').append(`<option value="${role}">${role}</option>`);
                        });
                    },
                    error: function (error) {
                        console.error('Error fetching roles:', error);
                    }
                });
            }
        });
    </script>





</div>
</body>


</html>