<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template/layout.html" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<body>
<div layout:fragment="content">
    <!-- Responsive Table -->
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h4 class="fw-bold pt-3" th:text="${title}"></h4>
    </div>
    <div class="card">
        <div class="card-header py-2 d-flex align-items-center">
            <div class="d-flex justify-content-end flex-grow-1 m-lg-2">
                <div class="search-input-wrapper col-md-4">
                    <label class="d-flex align-items-center gap-2 w-100">
                        Поиск:
                        <input type="text" id="search" class="form-control" placeholder="Поиск...">
                    </label>
                </div>
            </div>
            <div class="d-flex ms-auto">
                <button class="btn btn-primary" data-bs-toggle="modal" id="createEntity" data-bs-target="#entityModal">
                    <i class="ti ti-plus"></i>
                </button>
            </div>
        </div>

        <div class="card-body">
            <div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr id="table-head">
                            <td class="text-center">ID</td>
                            <td class="text-center">Название</td>
                            <td class="text-center">Товаров в категории</td>
                            <td class="text-center">Статус категории</td>
                            <td class="text-center">Действия</td>
                        </tr>
                        </thead>
                        <tbody id="table-body"></tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card-footer d-flex justify-content-between align-items-center pb-0">
            <label class="d-flex align-items-center gap-1" style="transform: translateY(-8px);">
                Показать:
                <select id="pageSize" class="form-control">
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </label>
            <nav aria-label="Page navigation">
                <ul class="pagination" id="pagination">
                </ul>
            </nav>
        </div>


        <!-- Entity Modal -->
        <div class="modal fade" id="entityModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="entityModalLabel">Редактирование</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="entity-modal-body">
                        <form id="entity-form">
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="nameCategory" class="form-label">Название категории</label>
                                    <input type="text" id="nameCategory" class="form-control" placeholder="Введите название категории"/>
                                    <div id="nameError" class="text-danger"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col mb-3">
                                    <label for="categoryStatus" class="form-label">Статус категории</label>
                                    <select id="categoryStatus" class="form-control"></select>
                                    <div id="categoryStatusError" class="text-danger"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary" id="save-entity-btn">Сохранить изменения</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Confirmation Modal -->
        <div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteConfirmModalLabel">Подтвердите удаление</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Вы уверены, что хотите удалить этот элемент?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-danger" id="confirm-delete-btn">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            let pageSize = parseInt($('#pageSize').val());
            let currentPage = 0;
            loadEntities(currentPage, '', pageSize);
            initializeEventHandlers();
            getCities();

            function initializeEventHandlers() {
                $('#search').on('keyup', function () {
                    const search = $(this).val();
                    loadEntities(0, search, pageSize);
                });

                $('#pageSize').on('change', function () {
                    pageSize = parseInt($(this).val());
                    loadEntities(0, '', pageSize);
                });

                $(document).on('click', '.page-link', handlePageLinkClick);
                $(document).on('click', '.edit-entity-btn', handleEditEntityClick);
                $(document).on('click', '#save-entity-btn', handleSaveEntityClick);
                $(document).on('click', '.delete-entity-btn', handleDeleteEntityClick);
                $(document).on('click', '#confirm-delete-btn', handleConfirmDeleteClick);
                $(document).on('click', '#createEntity', function () {
                    resetForm();
                    clearEntitiesFormError();
                });
            }

            function handlePageLinkClick(e) {
                e.preventDefault();
                currentPage = parseInt($(this).data('page'));
                loadEntities(currentPage, $('#search').val(), pageSize);
            }

            function handleEditEntityClick() {
                const id = $(this).data('id');
                $.ajax({
                    url: `/category/${id}`,
                    method: 'GET',
                    success: function (entity) {
                        $('#nameCategory').val(entity.name);
                        $('#categoryStatus').val(entity.status);
                        $('#save-entity-btn').data('id', entity.id);
                        clearEntitiesFormError();
                    },
                    error: function (err) {
                        console.error('Ошибка получения данных сущности:', err);
                    }
                });
            }

            function handleSaveEntityClick() {
                const id = $(this).data('id');
                const categoryDto = {
                    id: id,
                    name: $('#nameCategory').val(),
                    status: $('#categoryStatus').val()
                };

                if (id) {
                    updateUser(categoryDto);
                } else {
                    createUser(categoryDto);
                }
            }

            function handleDeleteEntityClick() {
                const id = $(this).data('id');
                $('#confirm-delete-btn').data('id', id);
            }

            function handleConfirmDeleteClick() {
                const id = $(this).data('id');
                deleteUser(id);
            }

            function getCities() {
                $.ajax({
                    url: '/category/status',
                    type: 'GET',
                    success: function (response) {
                        $.each(response, function (index, status) {
                            $('#categoryStatus').append('<option value="' + status.toString() + '">' + status.toString() + '</option>');
                        });
                    },
                    error: function (error) {
                        console.error('Ошибка загрузки статусов:', error);
                    }
                });
            }

            function loadEntities(page = 0, search = '', pageSize = 5) {
                $.ajax({
                    url: '/category/getAll',
                    method: 'GET',
                    data: {
                        page: page,
                        size: pageSize,
                        search: search
                    },
                    success: function (response) {
                        populateTable(response.content);
                        setupPagination(response.totalPages, page);
                    },
                    error: function (err) {
                        console.error('Ошибка загрузки сущностей:', err);
                    }
                });
            }

            function populateTable(categories) {
                const tableBody = $('#table-body');
                tableBody.empty();

                if (categories.length === 0) {
                    tableBody.append('<tr><td colspan="5" class="text-center">Нет данных</td></tr>');
                } else {
                    categories.forEach(category => {
                        const row = `<tr>
                        <td class="text-center">${category.id}</td>
                        <td class="text-center">${category.name}</td>
                        <td class="text-center">${category.itemsInCategory}</td>
                        <td class="text-center">${category.status}</td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-primary edit-entity-btn" data-bs-toggle="modal" data-id="${category.id}" data-bs-target="#entityModal">
                                <i class="ti ti-edit"></i>
                            </button>
                            <button class="btn btn-sm btn-danger delete-entity-btn" data-bs-toggle="modal" data-id="${category.id}" data-bs-target="#deleteConfirmModal">
                                <i class="ti ti-trash"></i>
                            </button>
                        </td>
                    </tr>`;
                        tableBody.append(row);
                    });
                }
            }

            function updateUser(categoryDto) {
                $.ajax({
                    url: `/category/${categoryDto.id}`,
                    method: 'PUT',
                    contentType: 'application/json; charset=UTF-8',
                    data: JSON.stringify(categoryDto),
                    success: function () {
                        closeModal();
                        loadEntities(currentPage, $('#search').val(), $('#pageSize').val());
                        resetForm();
                    },
                    error: function (err) {
                        console.error('Ошибка обновления сущности:', err);
                        validateEntitiesForm(err);
                    }
                });
            }

            function createUser(categoryDto) {
                $.ajax({
                    url: '/category/',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(categoryDto),
                    success: function () {
                        closeModal();
                        loadEntities(currentPage, $('#search').val(), $('#pageSize').val());
                        resetForm();
                    },
                    error: function (err) {
                        validateEntitiesForm(err);
                        console.error('Ошибка создания сущности:', err);
                    }
                });
            }

            function deleteUser(id) {
                $.ajax({
                    url: `/category/${id}`,
                    method: 'DELETE',
                    success: function () {
                        $('#deleteConfirmModal').modal('hide');
                        loadEntities(currentPage, $('#search').val(), $('#pageSize').val());
                        removeModalBackdrop();
                    },
                    error: function (err) {
                        console.error('Ошибка удаления сущности:', err);
                    }
                });
            }

            function validateEntitiesForm(error) {
                const errorData = error.responseJSON;
                for (const field in errorData) {
                    const errorMessage = errorData[field];
                    $(`#${field}Error`).text(errorMessage);
                }
            }


            function clearEntitiesFormError() {
                $('#nameCategoryError').text('');
                $('#categoryStatusError').text('');
            }

            function closeModal() {
                $('#entityModal').modal('hide');
                $('#entityModal').removeClass('show');
                removeModalBackdrop();
            }

            function resetForm() {
                $('#entity-form')[0].reset();
                $('#save-entity-btn').removeData('id');
            }

            function removeModalBackdrop() {
                $('.modal-backdrop').remove();
            }

            function setupPagination(totalPages, currentPage) {
                let paginationItems = '';

                if (currentPage > 0) {
                    paginationItems += createPaginationItem(0, '<i class="ti ti-chevrons-left ti-xs"></i>', 'first');
                } else {
                    paginationItems += createDisabledPaginationItem('<i class="ti ti-chevrons-left ti-xs"></i>', 'first');
                }

                if (currentPage > 0) {
                    paginationItems += createPaginationItem(currentPage - 1, '<i class="ti ti-chevron-left ti-xs"></i>', 'prev');
                } else {
                    paginationItems += createDisabledPaginationItem('<i class="ti ti-chevron-left ti-xs"></i>', 'prev');
                }

                if (currentPage > 1) {
                    paginationItems += createPaginationItem(0, '1');
                    if (currentPage > 2) {
                        paginationItems += createDisabledPaginationItem('...');
                    }
                }

                for (let i = Math.max(0, currentPage - 1); i <= Math.min(totalPages - 1, currentPage + 1); i++) {
                    paginationItems += createPaginationItem(i, i + 1, '', i === currentPage);
                }

                if (currentPage < totalPages - 2) {
                    if (currentPage < totalPages - 3) {
                        paginationItems += createDisabledPaginationItem('...');
                    }
                    paginationItems += createPaginationItem(totalPages - 1, totalPages);
                }

                if (currentPage < totalPages - 1) {
                    paginationItems += createPaginationItem(currentPage + 1, '<i class="ti ti-chevron-right ti-xs"></i>', 'next');
                } else {
                    paginationItems += createDisabledPaginationItem('<i class="ti ti-chevron-right ti-xs"></i>', 'next');
                }

                if (currentPage < totalPages - 1) {
                    paginationItems += createPaginationItem(totalPages - 1, '<i class="ti ti-chevrons-right ti-xs"></i>', 'last');
                } else {
                    paginationItems += createDisabledPaginationItem('<i class="ti ti-chevrons-right ti-xs"></i>', 'last');
                }

                $('#pagination').html(`<ul class="pagination justify-content-center">${paginationItems}</ul>`);
            }

            function createPaginationItem(page, text, ariaLabel = '', isActive = false) {
                return `<li class="page-item ${isActive ? 'active' : ''}">
                        <a class="page-link" href="#" data-page="${page}" ${ariaLabel ? `aria-label="${ariaLabel}"` : ''}>${text}</a>
                    </li>`;
            }

            function createDisabledPaginationItem(text, ariaLabel = '') {
                return `<li class="page-item disabled">
                        <span class="page-link" ${ariaLabel ? `aria-label="${ariaLabel}"` : ''}>${text}</span>
                    </li>`;
            }
        });
    </script>



    <script th:src="@{/assets/vendor/js/bootstrap.js}"></script>

    <script th:replace="location/scripts::scripts"></script>
</div>
</body>


</html>