<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template/layout.html" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<body>
<div layout:fragment="content">
    <!-- Responsive Table -->
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h4 class="fw-bold pt-3" th:text="${title}"></h4>
    </div>
    <div class="card">
        <div class="card-header py-2 d-flex align-items-center">

            <div class="d-flex justify-content-end flex-grow-1 m-lg-2">
                <div class="search-input-wrapper col-md-4">
                    <label class="d-flex align-items-center gap-2 w-100">
                        Поиск:
                        <input type="text" id="search" class="form-control" placeholder="Поиск...">
                    </label>
                </div>
            </div>
            <div class="d-flex ms-auto">
                <button class="btn btn-primary" data-bs-toggle="modal" id="createEntity" data-bs-target="#entityModal">
                    <i class="ti ti-plus"></i>
                </button>
            </div>
        </div>

        <div class="card-body">
            <div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr id="table-head">
                            <td class="text-center">ID</td>
                            <td class="text-center">Город</td>
                            <td class="text-center">Широта</td>
                            <td class="text-center">Долгота</td>
                            <td class="text-center">Улица</td>
                            <td class="text-center">Здание</td>
                            <td class="text-center">Действия</td>
                        </tr>
                        </thead>
                        <tbody id="table-body"></tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card-footer d-flex justify-content-between align-items-center pb-0">
            <label class="d-flex align-items-center gap-1" style="transform: translateY(-8px);">
                Показать:
                <select id="pageSize" class="form-control">
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </label>
            <nav aria-label="Page navigation">
                <ul class="pagination" id="pagination">
                </ul>
            </nav>
        </div>



        <!-- Entity Modal -->
        <div class="modal fade" id="entityModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="entityModalLabel">Редактирование</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="entity-modal-body">
                        <form id="entity-form">
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="city" class="form-label">Город</label>
                                    <select id="city" class="form-control"></select>
                                    <div id="cityError" class="text-danger"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="latitude" class="form-label">Широта</label>
                                    <input type="text" id="latitude" class="form-control" placeholder="Введите широту"/>
                                    <div id="latitudeError" class="text-danger"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="longitude" class="form-label">Долгота</label>
                                    <input type="text" id="longitude" class="form-control"
                                           placeholder="Введите долготу"/>
                                    <div id="longitudeError" class="text-danger"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="street" class="form-label">Улица</label>
                                    <input type="text" id="street" class="form-control" placeholder="Введите улицу"/>
                                    <div id="streetError" class="text-danger"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="building" class="form-label">Здание</label>
                                    <input type="text" id="building" class="form-control" placeholder="Введите здание"/>
                                    <div id="buildingError" class="text-danger"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary" id="save-entity-btn">Сохранить изменения</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Confirmation Modal -->
        <div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteConfirmModalLabel">Подтвердите удаление</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Вы уверены, что хотите удалить этот элемент?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-danger" id="confirm-delete-btn">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            let currentPage = 0;
            let pageSize = parseInt($('#pageSize').val());

            getCities();
            loadEntities(currentPage, '', pageSize);
            initializeEventHandlers();

            function initializeEventHandlers() {
                setupSearchEvent();
                setupPageSizeChangeEvent();
                setupPaginationEvents();
                setupEditEntityEvent();
                setupSaveEntityEvent();
                setupDeleteEntityEvent();
                setupConfirmDeleteEvent();
                setupCreateEntityEvent();
            }

            function setupSearchEvent() {
                $('#search').on('keyup', function () {
                    const search = $(this).val();
                    loadEntities(0, search, pageSize);
                });
            }

            function setupPageSizeChangeEvent() {
                $('#pageSize').on('change', function () {
                    pageSize = parseInt($(this).val());
                    loadEntities(0, '', pageSize);
                });
            }

            function setupPaginationEvents() {
                $(document).on('click', '.page-link', function (e) {
                    e.preventDefault();
                    currentPage = parseInt($(this).data('page'));
                    loadEntities(currentPage, $('#search').val(), pageSize);
                });
            }

            function setupEditEntityEvent() {
                $(document).on('click', '.edit-entity-btn', function () {
                    const id = $(this).data('id');
                    $.ajax({
                        url: `/location/${id}`,
                        method: 'GET',
                        success: function (entity) {
                            populateEntityForm(entity);
                        },
                        error: function (err) {
                            console.error('Ошибка получения данных сущности:', err);
                        }
                    });
                });
            }

            function setupSaveEntityEvent() {
                $(document).on('click', '#save-entity-btn', function () {
                    const id = $(this).data('id');
                    const locationDto = getEntityFormData();

                    if (id) {
                        updateEntity(id, locationDto);
                    } else {
                        createEntity(locationDto);
                    }
                });
            }

            function setupDeleteEntityEvent() {
                $(document).on('click', '.delete-entity-btn', function () {
                    const id = $(this).data('id');
                    $('#confirm-delete-btn').data('id', id);
                });
            }

            function setupConfirmDeleteEvent() {
                $(document).on('click', '#confirm-delete-btn', function () {
                    const id = $(this).data('id');
                    $.ajax({
                        url: `/location/${id}`,
                        method: 'DELETE',
                        success: function () {
                            $('#deleteConfirmModal').modal('hide');
                            loadEntities(currentPage, $('#search').val(), $('#pageSize').val());
                            removeModalBackdrop();
                        },
                        error: function (err) {
                            console.error('Ошибка удаления сущности:', err);
                        }
                    });
                });
            }

            function setupCreateEntityEvent() {
                $(document).on('click', '#createEntity', function () {
                    resetForm();
                    clearEntitiesFormError();
                });
            }

            function getCities() {
                $.ajax({
                    url: '/location/cities',
                    type: 'GET',
                    success: function (response) {
                        $.each(response, function (index, city) {
                            $('#city').append('<option value="' + city.name + '">' + city.name + '</option>');
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }

            function loadEntities(page = 0, search = '', pageSize = 5) {
                $.ajax({
                    url: '/location/getAll',
                    method: 'GET',
                    data: {
                        page: page,
                        size: pageSize,
                        search: search
                    },
                    success: function (response) {
                        renderEntitiesTable(response.content);
                        setupPagination(response.totalPages, page);
                    },
                    error: function (err) {
                        console.error('Ошибка загрузки сущностей:', err);
                    }
                });
            }

            function renderEntitiesTable(locations) {
                const tableBody = $('#table-body');
                tableBody.empty();

                if (locations.length === 0) {
                    tableBody.append('<tr><td colspan="7" class="text-center">Нет данных</td></tr>');
                } else {
                    locations.forEach(location => {
                        const row = `<tr>
                        <td class="text-center">${location.id}</td>
                        <td class="text-center">${location.city}</td>
                        <td class="text-center">${location.latitude}</td>
                        <td class="text-center">${location.longitude}</td>
                        <td class="text-center">${location.street}</td>
                        <td class="text-center">${location.building}</td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-primary edit-entity-btn" data-bs-toggle="modal" data-id="${location.id}" data-bs-target="#entityModal">
                                <i class="ti ti-edit"></i>
                            </button>
                            <button class="btn btn-sm btn-danger delete-entity-btn" data-bs-toggle="modal" data-id="${location.id}" data-bs-target="#deleteConfirmModal">
                                <i class="ti ti-trash"></i>
                            </button>
                        </td>
                    </tr>`;
                        tableBody.append(row);
                    });
                }
            }

            function setupPagination(totalPages, currentPage) {
                let paginationItems = '';

                // First page button
                if (currentPage > 0) {
                    paginationItems += createPaginationItem(0, '<i class="ti ti-chevrons-left ti-xs"></i>', 'first');
                } else {
                    paginationItems += createDisabledPaginationItem('<i class="ti ti-chevrons-left ti-xs"></i>', 'first');
                }

                // Previous page button
                if (currentPage > 0) {
                    paginationItems += createPaginationItem(currentPage - 1, '<i class="ti ti-chevron-left ti-xs"></i>', 'prev');
                } else {
                    paginationItems += createDisabledPaginationItem('<i class="ti ti-chevron-left ti-xs"></i>', 'prev');
                }

                // Pagination items
                if (currentPage > 1) {
                    paginationItems += createPaginationItem(0, '1');
                    if (currentPage > 2) {
                        paginationItems += createDisabledPaginationItem('...');
                    }
                }

                for (let i = Math.max(0, currentPage - 1); i <= Math.min(totalPages - 1, currentPage + 1); i++) {
                    paginationItems += createPaginationItem(i, i + 1, '', i === currentPage);
                }

                if (currentPage < totalPages - 2) {
                    if (currentPage < totalPages - 3) {
                        paginationItems += createDisabledPaginationItem('...');
                    }
                    paginationItems += createPaginationItem(totalPages - 1, totalPages);
                }

                // Next page button
                if (currentPage < totalPages - 1) {
                    paginationItems += createPaginationItem(currentPage + 1, '<i class="ti ti-chevron-right ti-xs"></i>', 'next');
                } else {
                    paginationItems += createDisabledPaginationItem('<i class="ti ti-chevron-right ti-xs"></i>', 'next');
                }

                // Last page button
                if (currentPage < totalPages - 1) {
                    paginationItems += createPaginationItem(totalPages - 1, '<i class="ti ti-chevrons-right ti-xs"></i>', 'last');
                } else {
                    paginationItems += createDisabledPaginationItem('<i class="ti ti-chevrons-right ti-xs"></i>', 'last');
                }

                $('#pagination').html(`<ul class="pagination justify-content-center">${paginationItems}</ul>`);
            }

            function createPaginationItem(page, text, ariaLabel = '', isActive = false) {
                return `<li class="page-item ${isActive ? 'active' : ''}">
                        <a class="page-link" href="#" data-page="${page}" ${ariaLabel ? `aria-label="${ariaLabel}"` : ''}>${text}</a>
                    </li>`;
            }

            function createDisabledPaginationItem(text, ariaLabel = '') {
                return `<li class="page-item disabled">
                        <span class="page-link" ${ariaLabel ? `aria-label="${ariaLabel}"` : ''}>${text}</span>
                    </li>`;
            }

            function populateEntityForm(entity) {
                $('#city').val(entity.city);
                $('#latitude').val(entity.latitude);
                $('#longitude').val(entity.longitude);
                $('#street').val(entity.street);
                $('#building').val(entity.building);
                $('#save-entity-btn').data('id', entity.id);
                clearEntitiesFormError();
            }

            function getEntityFormData() {
                return {
                    id: $('#save-entity-btn').data('id'),
                    city: $('#city').val(),
                    latitude: $('#latitude').val(),
                    longitude: $('#longitude').val(),
                    street: $('#street').val(),
                    building: $('#building').val()
                };
            }

            function updateEntity(id, locationDto) {
                $.ajax({
                    url: `/location/${id}`,
                    method: 'PUT',
                    contentType: 'application/json; charset=UTF-8',
                    data: JSON.stringify(locationDto),
                    success: function () {
                        closeModal();
                        loadEntities(currentPage, $('#search').val(), pageSize);
                        resetForm();
                    },
                    error: function (err) {
                        console.error('Ошибка обновления сущности:', err);
                        validateEntitiesForm(err);
                    }
                });
            }

            function createEntity(locationDto) {
                $.ajax({
                    url: '/location/',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(locationDto),
                    success: function () {
                        closeModal();
                        loadEntities(currentPage, $('#search').val(), pageSize);
                        resetForm();
                    },
                    error: function (err) {
                        console.error('Ошибка создания сущности:', err);
                        validateEntitiesForm(err);
                    }
                });
            }

            function resetForm() {
                $('#entity-form')[0].reset();
                $('#save-entity-btn').removeData('id');
            }

            function clearEntitiesFormError() {
                $('#cityError').text('');
                $('#latitudeError').text('');
                $('#longitudeError').text('');
                $('#streetError').text('');
                $('#buildingError').text('');
            }

            function validateEntitiesForm(err) {
                clearEntitiesFormError();
                if (err.responseJSON && err.responseJSON.errors) {
                    const errors = err.responseJSON.errors;
                    errors.forEach(error => {
                        $(`#${error.field}Error`).text(error.defaultMessage);
                    });
                }
            }

            function closeModal() {
                $('#entityModal').modal('hide');
                $('.modal-backdrop').remove();
            }
        });
    </script>


    <script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
    <script th:replace="location/scripts::scripts"></script>
</div>
</body>


</html>