<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script th:fragment="scripts">

    function getCities() {
        $.ajax({
            url: '/location/cities',
            type: 'GET',
            success: function(response) {
                $.each(response, function(index, city) {
                    $('#city').append('<option value="' + city.name + '">' + city.name + '</option>');
                });
            },
            error: function(error) {
                console.log(error);
            }
        });
    }


</script>
</body>
</html>